.notification {
    position: fixed;
    top: 20px;
    right: 40%;
    background-color: var(--mocha-color);
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    z-index: 1000;
    letter-spacing: 1px;
}

.message {
    font-size: 16px;
}

.close-button {
    background-color: transparent;
    text-decoration: underline;
    font-size: 12px;
    border: none;
    color: #fff;
    cursor: pointer;
}